@import url("https://fonts.googleapis.com/css?family=Inter:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Moontype";
  src: local("Moontype Bold"), local("Moontype"), local("Moontype Regular"),
    url("/fonts/moontype/Moontype-Bold.eot") format("embedded-opentype"),
    url("/fonts/moontype/Moontype-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}

div#__next {
  display: flex;
  flex-direction: column;
}

/*
moontype font disallows words like war and hate
we disable required ligatures to be able to write "Es war gut"
*/
.font-moontype {
  font-feature-settings: "rlig" 0;
}

/* Youtube Facade */
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: red;
  opacity: 1;
}
.yt-lite > .lty-playbtn:before {
  content: "";
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 11px 0 11px 19px;
}
.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated:before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
